/* Map style code taken from datavis-interactive lab */

.land {
  fill: #ccc;
}

.state-boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}

.county-boundary {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}

.country {
  fill: #ccc;
}

p span {
	display:inline;
	white-space:pre-wrap;
	padding: 5px 5px 5px 5px;
}